language: ruby
cache: bundler
sudo: false
rvm:
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - jruby-9.1.9.0
before_install:
  - gem install bundler
gemfile:
  - gemfiles/sprockets2.gemfile
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
  - gemfiles/rails50.gemfile
  - gemfiles/rails51.gemfile
matrix:
  exclude:
    - rvm: 1.9.3-p551
      gemfile: gemfiles/rails50.gemfile
    - rvm: 1.9.3-p551
      gemfile: gemfiles/rails51.gemfile
    - rvm: 2.0.0-p648
      gemfile: gemfiles/rails50.gemfile
    - rvm: 2.0.0-p648
      gemfile: gemfiles/rails51.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/rails50.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/rails51.gemfile
    - rvm: 2.4.3
      gemfile: gemfiles/sprockets2.gemfile
    - rvm: 2.4.3
      gemfile: gemfiles/rails40.gemfile
    - rvm: 2.4.3
      gemfile: gemfiles/rails41.gemfile
    - rvm: 2.5.0
      gemfile: gemfiles/sprockets2.gemfile
    - rvm: 2.5.0
      gemfile: gemfiles/rails40.gemfile
    - rvm: 2.5.0
      gemfile: gemfiles/rails41.gemfile
